.wrapper {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  transform: translateX(50px);

  display: flex;
  align-items: center;
  justify-content: center;

  #app {
    width: calc(80vw - 200px);
    height: 100%;
    cursor: pointer;
  }
}
