.wrapper {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
  transform: translateX(50px);

  display: flex;
  align-items: center;
  justify-content: center;

  #app {
    width: calc(80vw - 200px);
    height: 100%;
    cursor: pointer;
  }

  .demo {
    width: 200px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > img {
      width: 100%;
      margin: 8px 0;

      &:first-child {
        margin-top: 16px;
      }
    }
  }
}

.tool-bar {
  width: calc(80vw - 200px);
  margin: 12px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  > .user-options {
  }

  > .train-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .special {
      margin-bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-family: monospace;
    }

    label {
      margin: 8px;
      display: flex;
      align-items: center;

      > input {
        padding: 4px;
        max-width: 50px;
        margin: 0 4px;
      }
    }
  }

  button {
    margin: 8px;
    padding: 4px 8px;
  }
}
