#app {
  width: 50vw;
  height: 60vh;
  margin: 0 auto;
  cursor: pointer;
}

.tool-bar {
  width: 100%;
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  > button {
    margin: 8px;
    padding: 4px 8px;
  }
}
